.ruangan-page-container {
  height: 100%;
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.ruangan-page {
  padding: 0 50px;
}

.admin-name {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 18px;
}

.title-ruangan {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 30px 0px;
}

.title {
  font-size: 28px;
  font-weight: 400;
}

.button-ruangan {
  border: none;
  background-color: #1e5aa0;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.menu-page {
  margin-left: 50px;
}

.ruangan-page-position {
  padding: 0 50px;
}

.ruangan-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-room-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 32px 64px 32px 64px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.h3 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  height: 30px;
  margin-bottom: 25px;
}

.add-room-modal label {
  display: block;
  margin-bottom: 8px;
}

.add-room-modal input {
  width: calc(100% - 43px); /* Mengatur lebar input */
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  height: 30px;
}

.button-tambahruangan {
  width: 95%;
  background-color: #1e5aa0;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  height: 46px;
  text-align: center;
}

.add-room-modal button:hover {
  background-color: #007bff;
}

.meja-layar,
.ac-proyektor,
.kursi-audio {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;
  border-radius: 8px;
}

form {
  width: 424px;
  justify-content: center;
  opacity: 0px;
}

.upload-gambar {
  display: flex;
  gap: 20px;
  align-items: stretch; /* Mengatur tinggi elemen yang berbeda menjadi sama */
}

.upload-gambar input {
  width: 55%; /* Menetapkan tinggi yang sama dengan tombol */
}

.upload-gambar button {
  width: 30%;
  height: 46px;
  align-items: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0px 12px; /* Menghilangkan padding bawah agar tombol memiliki tinggi yang sama dengan input */
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #1e5aa0;
}

.upload-gambar button .button-content {
  display: flex;
  align-items: center;
}

.upload-icon {
  font-size: 20px;
}

.gambar-ruangan {
  flex-direction: row;
  justify-content: space-between;
}

/* Style untuk efek blur pada latar belakang saat pop-up ditampilkan */

/* Style untuk elemen pop-up */
.add-room-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Warna latar belakang dengan opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Mengatur z-index agar pop-up berada di atas konten lain */
}

/* Style untuk mengarahkan fokus ke elemen pop-up */
.add-room-modal-overlay:focus {
  outline: none; /* Menghilangkan garis fokus */
}

.add-room-modal-overlay:focus .add-room-modal {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Efek bayangan saat pop-up mendapat fokus */
}